 <!-- <div class="row-fluid"> -->
        <div class="span6 content">
          <div style="text-align:center">    
            <h3>{{title}}</h2>
            <div class="list" ondrop="drop(event)" ondragover="allowDrop(event)">
              
            </div>  
          </div>
        </div>
       <!--  <div class="span6 content">
          <div style="text-align:center">
            <h3>Finished</h3>
            <div class="list" ondrop="drop(event)" ondragover="allowDrop(event)">
              <button class="btn" type="button">Go shopping</button>
              <button class="btn" type="button">Payment center fix</button>
              <button class="btn" type="button">Problem fix</button>
              <button class="btn" type="button">Problem fix</button>
              <button class="btn" type="button">Problem fix</button>
              <button class="btn" type="button">Problem fix</button>
              <button class="btn" type="button">Problem fix</button>
              <button class="btn" type="button">Problem fix</button>
              <button class="btn" type="button">Problem fix</button><button class="btn" type="button">Problem fix</button><button class="btn" type="button">Problem fix</button><button class="btn" type="button">Problem fix</button><button class="btn" type="button">Problem fix</button><button class="btn" type="button">Problem fix</button><button class="btn" type="button">Problem fix</button><button class="btn" type="button">Problem fix</button><button class="btn" type="button">Problem fix</button><button class="btn" type="button">Problem fix</button>
            </div>
          </div> 
        </div> -->
<!-- </div> -->
